# (C) Copyright IBM Deutschland GmbH 2021, 2023
# (C) Copyright IBM Corp 2021, 2023
#
# non-exclusively licensed to gematik GmbH

########################################################################################################################

# IDE settings folders
#
**/.vs
**/.idea

########################################################################################################################

# build folders
#
**/build
**/build*debug
**/build*release

########################################################################################################################

# except the "build" script from the docker subfolder
#
!docker/build

########################################################################################################################

# Ignore Gradle project-specific cache directory
.gradle

########################################################################################################################
