# (C) Copyright IBM Deutschland GmbH 2021
# (C) Copyright IBM Corp. 2021
# SPDX-License-Identifier: CC BY-NC-ND 3.0 DE

########################################################################################################################

# IDE settings folders
#
**/.vs
**/.idea

########################################################################################################################

# build folders
#
**/build
**/build*debug
**/build*release

########################################################################################################################

# except the "build" script from the docker subfolder
#
!docker/build

########################################################################################################################

# Ignore Gradle project-specific cache directory
.gradle

########################################################################################################################
